<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://mauriciopoppe.github.io/function-plot/js/function-plot.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-card>
            <v-card-text>
            <v-row justify='center' align='center' no-gutters dense>
              <v-col cols='2' class="text-start primary--text">Reduced form</v-col>
              <v-col cols='3' class="text-start primary--text">: {{ states.graph_hand }}</v-col>
            </v-row>
            <v-row justify='center' align='center' no-gutters dense >
              <v-col cols='2'class="text-start primary--text"> Polynomial degree</v-col>
              <v-col cols='3'class="text-start primary--text">: {{ states.polynomial_degree }}</v-col>
            </v-row>
            <v-row justify='center' align='center' no-gutters dense>
              <v-col cols='2' class="text-start primary--text">discriminant </v-col>
              <v-col cols='3' class="text-start primary--text">: {{ states.discriminant }}</v-col>
            </v-row>
            
            <v-row justify='center' align='center' no-gutters dense class="text-center red--text">
              <v-col cols='12'>Solution: {{ states.solution }}</v-col>
            </v-row>
          </v-card-text>
          </v-card>
          <v-card >
            <v-card-title>
              Function graph 
            </v-card-title>
            <v-card-text>
            <v-row justify='center' align='center'>
                <v-col cols='4'>
                    <v-text-field
                        label="xMin value"
                        outlined
                        type='number'
                        step='0.5'
                        v-model="xMin"
                        @click='plot(states.equoation)'
                        v-on:keyup.enter='plot(states.equoation)'
                    ></v-text-field>
                    <v-text-field
                        label="xMax value"
                        outlined
                        type='number'
                        v-model="xMax"
                        @click='plot(states.equoation)'
                        v-on:keyup.enter='plot(states.equoation)'
                    ></v-text-field>
                    <v-text-field
                        label="yMin value"
                        outlined
                        type='number'
                        v-model="yMin"
                        @click='plot(states.equoation)'
                        v-on:keyup.enter='plot(states.equoation)'
                    ></v-text-field>
                    <v-text-field
                        label="yMax value"
                        outlined
                        type='number'
                        v-model="yMax"
                        @click='plot(states.equoation)'
                        v-on:keyup.enter='plot(states.equoation)'
                    ></v-text-field>
                    <span @click='plot(states.equoation)'>
                        <v-color-picker
                        v-model="color"
                        dot-size="23"
                        hide-canvas
                        hide-inputs
                        hide-sliders
                        show-swatches
                        swatches-max-height="188"
                      ></v-color-picker>
                    </span>
                </v-col>
                <v-col cols='8'>
                  <v-row justify='center' align='center' no-gutters dense>
                    <v-col cols='auto'>
                      <v-switch
                        class="ma-0"
                        v-model="show_grade"
                        label="Show gride"
                        @click='plot(states.equoation)'
                      ></v-switch>
                    </v-col>
                  </v-row>
                  <v-row justify='center' align='center' no-gutters dense>
                    <v-col cols='auto' id="plot">
                        <span id="myFunction"></span>
                    </v-col>
                  </v-row>
                </v-col>
            </v-row>
          </v-card-text>
        </v-card>
            
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function () {
            return {
                states: {},
                xMin: -6,
                xMax: 6,
                yMin: -6,
                yMax: 6,
                color: null,
                show_grade: true,
                equoation: '',
                parameters: {
                    target: '#myFunction',
                    data: [{
                        fn: '',
                    }],
                    yAxis: {domain: [0, 2*Math.PI]},
                    xAxis: {domain: [0, 2*Math.PI]}
                },
         }
        },                  
      mounted (){
        axios.get('http://localhost:8080/states').then(res => {
          this.states = res.data
          console.log(res.data.graph_hand.split('='));
          const temp = res.data.graph_hand.toLowerCase()
          this.states.equoation = temp.split('=')[0]
          this.plot(this.states.equoation)
        })
        
      },
      methods: {
        plot(equoation) {
            var f = equoation
            var xMin = this.xMin
            var xMax = this.xMax
            var yMin = this.yMin
            var yMax = this.yMax
            var color = this.color.hexa
            
            this.parameters.data[0].fn = f.trim();
            this.parameters.grid = this.show_grade;
            this.parameters.xAxis.domain = [this.xMin, this.xMax];
            this.parameters.yAxis.domain = [this.yMin, this.yMax];
            this.parameters.data[0].color = this.color.hexa;
            
            functionPlot(this.parameters)
        },
      },
      vuetify: new Vuetify(),
    })
  </script>

</body>
</html>